html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  outline: none;
}

.sign-up-container {
  margin-top: min(8%, 55px);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 65%;
}

h2{
  font-size: 1.7rem;
  color: rgb(255, 183, 77);
}

p, label, button, .fa-github {
  color: rgb(95, 93, 91);
}

p.greeting {
  margin-top: -0.6%;
}

.instructions {
  margin-top: -0.1%;
}
.instructions, label {
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;   /* for the validity-icon */

  margin: 2% 0;
}

input {
  border: 1px solid white;
  border-bottom-color: rgb(196, 194, 191);
  border-radius: 4%;
}

button {
  background: rgb(196, 194, 191);
  border: 1px solid rgb(196, 194, 191);

  margin-top: 2%;
  border-radius: 6%;
  padding: min(2%, 9px)  min(5%, 22px);
}

button:hover {
  background-color: rgb(180, 174, 170);
}

span.validity-icon {
  position: absolute;
  bottom: 10%;
  right: 0%;
}

footer {
  margin-top: min(7%, 100px);
  font-size: 1.4rem;
  color:rgb(95, 93, 91);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.fa-github {
  font-size: calc(50/16)rem;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 640px) {
  form {
    column-gap: 5%;
  }
}

@media (min-width: 1067px) {

  form {
    max-width: 691px;
    width: 90%;
  }
}
