html, body {
  height: 100%;
  font-family: "Roboto";
}

input, button {
  outline: none;
}

body {
  margin-top: 15%;
}

.instructions {
  font-size: 12px;
}

.monero-icon {
  display: flex;
  justify-content: center;
}

h2, p{
  text-align: center;
}

h2{
  color: rgb(255, 183, 77);
}

p, label {
  color: rgb(95, 93, 91);
}

.form-container {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  height: 45%;
  width: 55%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  font-size: 0.8rem;
}

button {
  background-color: rgb(196, 194, 191);
  color: rgb(95, 93, 91);
  border: 1px solid rgb(196, 194, 191);
  border-radius: 6%;
  padding: 2% 9%;
}

button:hover {
  background-color: rgb(180, 174, 170);
}

input {
  font-size: 0.8rem;

  border: 1px solid white;
  border-bottom-color: rgb(196, 194, 191);
  border-radius: 6%;
}

span.validity-icon {
  position: absolute;
  bottom: 10%;
  right: -10%;
}
